$church-primary: #1f4e79;
$church-secondary: #c8a951;

$church-light: #f8f9fa;
$church-dark: #233446;

$church-text: #566a7f;

$church-primary-rgb: 31, 78, 121;
$church-secondary-rgb: 200, 169, 81;
$church-light-rgb: 248, 249, 250;
$church-dark-rgb: 35, 52, 70;
$church-text-rgb: 86, 106, 127;